# Setup parameters for a genome mining run

## Parameters for each run
runName: "exampleNameOfRun"
pattern: 'M[A-Z]{15,45}T[A-Z][A-Z]{6,8}[DE][A-Z]{5,30}\*'
cutoffRank: -1 # minimum rank to register as a hit
genomeDir: "/home/user/Projects/lassomining/genomes/" # keep the trailing /
database: "/home/user/Projects/lassomining/output/matches.db" # no trailing /
motifs:
  - "/home/user/lassomining/models/memeb.xml"
  - "/home/user/lassomining/models/memec.xml"
  
## Parameters you should not have to change
memeDir: "/home/nalam/meme"
